<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <table border="1">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articleList}">
            <td th:text="${article.id}"></td>
            <td>
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a>
            </td>
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</table>
<a href="/article/create">등록</a>
</body>
</html>