<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
게시물 작성
<form action="/article/create" method="post">
    <table>
        <tr>
            <td>제목</td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="content" rows="4" cols="23"></textarea></td>
        </tr>
    </table>
    <button type="submit">작성</button>
    <a href="javascript:history.back()">취소</a>
</form>
</body>
</html>